*~
*.pyc

# ignore cache
__pycache__
.cache/

# ignore eclipse files
.project
.pydevproject
.settings

# ignore build files
create_e
doc_build.sh
build/
dist/
DeepGraph.egg-info/
doc/build
doc/source/generated
doc/source/tutorials/tmp

# IPython Notebook Checkpoints
.ipynb_checkpoints/

