*~
*.pyc

# ignore cache
__pycache__
.cache/

# ignore eclipse files
.project
.pydevproject
.settings

# ignore personal
notes.txt
doc_build.sh

# ignore build files
build/
dist/
DeepGraph.egg-info/
doc/build
doc/source/generated

# ignore examples
examples/

# IPython Notebook Checkpoints
.ipynb_checkpoints/


